* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    padding: 0;
    border: 3px red solid;
    margin: auto;
}

.square {
   /* border: black solid 1px;*/
}