* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    padding: 0;
    border: 1px solid #af2b0a;
    margin: auto;
}
